.main {
    margin-top: 100px;
}

.logo-img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.search-input {
    display: block;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 11px 4px; /* margin top/bottom = 11px, margin left/right = 4px */
    padding: 8px 16px; /* padding left/right = 16px */
    background-color: #dfe1e5;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
